{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "plugins": ["prettier-plugin-astro"],
}
